<h2>Bonjour {{name}},</h2>
<p>Vous avez demandé une réinitialisation de votre mot de passe.</p>
<p><a href="{{resetUrl}}">Cliquez ici pour le réinitialiser</a></p>
<p>Ce lien expirera dans 30 minutes.</p>
